<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herryboro.order66.mapper.ClientMemberMapper">
    <!-- 회원가입 -->
    <insert id="insertMember">
        insert into tb_client
            (client_id, client_name, client_nickname, client_password, client_email, client_phone, client_profile)
        values
            (#{clientId}, #{clientName}, #{clientNickname}, #{clientPassword}, #{clientEmail}, #{clientPhone}, #{clientProfile})
    </insert>

<!--    <select id="getUserById" resultType="com.herryboro.order66.dto">-->
<!--        SELECT * FROM tb_client WHERE client_id = #{id}>-->
<!--    </select>-->
</mapper>